@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

* {
    font-family: 'Public Sans'
}

.mob-bg {
    background-image: url('../images/bg-intro-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.desk-bg {
    background-image: url("../images/bg-intro-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
}